body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #9AEBA3, #13678A);
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding-bottom: 50px;
    background-color: #012030;
    margin: auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 5px #0000002d;
    padding-top: 70px;
}

header>h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

header > p {
    text-align: center;
    font-size: 20px;
}

li > a {
    color: white;
    margin: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-left:40px; 

}

li > a:hover {
    text-decoration: underline;
    color: #09375f;
}

nav > li {
    list-style-type: none;
}

main {
    margin: auto;
    display: grid;
    place-items: center;
    background-color: #184C78;
    height: 500px;
    width: 900px;
    padding: 0;
    border-radius: 13px;
    box-shadow: 3px 3px 4px #184c446f;
}

div > h2 {
    text-align: center;
    color: white;
    margin: 0;
}

div#hist > p  {
    color: white;
    display: grid;
    place-items: center;
    background-color: #09375f;
    height: 50px;
    width: 700px;
    border-radius: 30px;
    box-shadow: 2px 4px 5px rgba(3, 51, 105, 0.382);
    text-align: center;
    margin: auto;
}

footer > p {
    background: #012030;
    color: white;
    margin: auto;
}
